body {
    font-family: Arial, sans-serif;
    background-color: #a3d6dd;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.container {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #000; 
}

.boton {
    padding: 15px 25px;
    background-color: rgb(81, 171, 187);
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.boton:hover {
    background-color:rgb(127, 201, 201);
}






